* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
}
@media (min-width: 750px) {
    body {
        background: linear-gradient(
            107.17deg,
            #958c40 29.35%,
            rgba(156, 0, 210, 0.8) 78.73%
        );
    }
}

.main {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

@media (min-width: 750px) {
    .main {
        height: 500px;
    }
}

.portfolio {
    width: 100%;
    min-height: 1375px;
    color: #f2f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 750px) {
    .portfolio {
        height: 604px;
    }
}

.container {
    padding: 30px 52px;
    background-color: black;
    height: 1375px;
    display: grid;
    gap: 50px;
    justify-content: center;
}

@media (min-width: 750px) {
    .container {
        height: 604px;
    }
}

.title {
    font-size: 32px;
    display: flex;
    margin: 0;
    width: 100%;
    font-size: 48px;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 750px) {
    .title {
        font-size: 48px;

        width: 100%;
    }
}
.works {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

@media (min-width: 750px) {
    .works {
        display: flex;
        height: 480px;
        gap: 200px;
    }
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dc7633;
    border-radius: 5px;
}

.description {
    font-size: 16px;
    text-align: center;
}

.subtitle {
    width: 100%;
    margin: 15px 0 5px 0;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.picture {
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin-top: 20px;
}

.footer {
    background-color: #2c2c2c;
}

.container-footer {
    background-color: #2c2c2c;
}

.redes-footer {
    background-color: #2c2c2c;
}
