.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 498px;
    background-color: #dbdbdb;
    justify-content: space-around;
    padding: 50px 0 53px 0;
}
@media (min-width: 750px) {
    .footer {
        display: grid;

        grid-template-columns: 1fr 1fr;
        gap: 600px;
        height: 346px;
    }
}
.container-footer {
    display: flex;
    justify-content: center;
    padding: 53px 0 0 0;
    background-color: #dbdbdb;
}

@media (min-width: 750px) {
    .container-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.marca {
    font-family: "Orbitron", sans-serif;
    font-size: 48px;
}

.redes-footer {
    display: grid;
    align-items: center;
    gap: 10px;
    padding-left: 120px;
    background-color: #dbdbdb;
}

@media (min-width: 750px) {
    .redes-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.redes-facebook {
    display: flex;
    max-width: 28px;
    max-height: 28px;
}
.redes-linkedin {
    display: flex;
    max-width: 28px;
    max-height: 28px;
}
.redes-instagram {
    display: flex;
    max-width: 28px;
    max-height: 28px;
}
.redes-github {
    display: flex;
    max-width: 28px;
    max-height: 28px;
}

.name-redes {
    padding-left: 5px;
    display: grid;
    align-items: center;
}

.logo-social {
    max-width: 28px;
    max-height: 28px;
    border-radius: 5px;
}
